{% extends "layout.html" %}
{% block body %}

    <h2>Georgia Schools (MVP)</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ url_for('georgia_mvp') }}" method=post>
        <dl>
            <dt>Enter your zip code:
            <dd><input type=text name=zip>
            <dt>Enter your major:
            <!--TODO MAKE THIS A SELECTOR-->
            <dd><input type=text name=major>
            <dt>Enter your SAT score:
            <dd><input type=text name=sat>
            <dt>Enter your ACT score:
            <dd><input type=text name=act>
            <dd><input type=submit value=Query>
        </dl>
    </form>

    {% if result %}
        {{ result | safe }}
    {% endif %}

{% endblock %}